<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <input matInput formControlName="username" placeholder="Username" />
        <mat-error
          *ngIf="
            loginForm.get('username')?.hasError('required') &&
            loginForm.get('username')?.touched
          "
        >
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
        />
        <mat-error
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched
          "
        >
          Password is required.
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        [disabled]="loginForm.invalid || loginForm.pending"
      >
        Login
      </button>
    </form>
    <a routerLink="/auth/register">click here to register</a>
  </mat-card-content>
</mat-card>
